@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Barlow+Condensed:wght@800&display=swap');
/* CSS Variables for elements we may want to change in the future to make it easy to update the whole site. */
:root {
    --default-font-size: 15px;
    --text-font-size: 15px;
    --font-family: Dosis, Arial, Helvetica, sans-serif;
    --font-color: #3a3a3a;
    --hover-link-color: #C22636;
    --alfa-button-background: #C22636;
    --heading-font-family: 'Barlow Condensed', Arial, Helvetica, sans-serif;
    --heading-font-weight: 800;
    --heading-font-color: #C22636;
    --footer-font-color: #FFFFFF;
    --footer-bg-color: #1B2441;
    --icon-color: #C22636;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font-family);
  color: var(--heading-font-color);
}

h1.heading a {
  color: var(--heading-font-color);
  text-decoration: none;
}

/* header nav links */
a.nav-item {
  color: var(--font-color);
  text-transform: uppercase;
}

a.nav-item:hover {
  color: var(--hover-link-color);
}

/* Mobile Navbar */
#mobile-nav {
 z-index: 1;
}

/* Header Icons */
header i {
  font-size: 1.5rem;
  color: var(--icon-color);
}

body {
  color: var(--font-color);
  font-family: var(--font-family), Arial, Helvetica, sans-serif;
}

/* Buttons */
a.btn {
  background: var(--alfa-button-background);
}

/* Class created to round images to 35px; */
.rounded-35 {
  border-radius: 35px;
}

/* Parallax-home section */
#parallax-home {
  background-image: url("../images/alfa-4c-parallax.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;
}

/* Cards section */
.lightweight-bg {
  background: linear-gradient(to top, rgba(245, 246, 252, 0.52), #000000),url("../images/carbon-fibre.jpg");
  background-size: cover;
}

.elegant-bg {
  background: linear-gradient(to top, rgba(245, 246, 252, 0.52), #000000),url("../images/alfa-4c-elegant.jpg");
  background-size: cover;
}

.exotic-bg {
  background: linear-gradient(to top, rgba(245, 246, 252, 0.52), #000000),url("../images/exotic-image.jpg");
  background-size: cover;
}

.bg-card-wrapper {
  min-height: 360px;
  background-position: center;
}

@media screen and (max-width: 641px){
  .bg-card-wrapper {
    min-height: 350px;
  }
}
/* Card section end */

/* Footer styles */
footer {
  background: var(--footer-bg-color);
}

footer h2, footer a, footer p, footer strong {
  color: var(--footer-font-color);
}

button.btn.text-white.w-100.collapsed[aria-expanded=false] #minus, button.btn.text-white.w-100[aria-expanded=true] #plus {
  display: none;
}

.mobile-footer {
  border-bottom: 1px solid white;
}

#footer-menu ul li {
  padding: 3px;
}

.socials i {
  font-size: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}
